extends layout

block content
	style(type="text/css").
		* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
		body {
		line-height: 1.7em;
		color: #7f8c8d;
		font-size: 13px;
		background-color: #1f8dd6;
		}
		html {
		box-sizing: border-box;
		}
		.bar {
		display: flex;
		width: 100%;
		height: 100px;
		background: #1f8dd6;
		padding: 20px;
		text-align: center;
		}
		h2 {
		color: white;
		text-align: center;
		}
		h1 {
		color: white;
		text-align: center;
		}
		.right {
		padding-left: 80%;
		}
		.center {
		width:500px;
		margin-left: auto;
		margin-right: auto;
		}
		a {
		text-decoration: none;
		color: white;
		}
		li {
		color: white;
		}

	body
		.bar
			h2 
				a(href="/") Sumo Survey
			h2.right 
				a(href="/question/new") New Question
		each question in questions
			h1= question.question_body + " ?"
			ul.center
				li= question.answer_a + " -  " + question.a_count + " votes"
				li= question.answer_b + " -  " + question.b_count + " votes"
				li= question.answer_c + " -  " + question.c_count + " votes"
				li= question.answer_d + " -  " + question.d_count + " votes"