extends layout

block content
	body
		.container
			a(href="/question/new") New Question
			.row
			each question in questions
				.col-md-6
					h1.question-header= question.question_body + " ?"
					ul.small-block-grid-4
						li= question.answer_a + " || " + question.a_count + " votes"
						li= question.answer_b + " || " + question.b_count + " votes"
						li= question.answer_c + " || " + question.c_count + " votes"
						li= question.answer_d + " || " + question.d_count + " votes"