extends layout

block content
  body
    -var id = question.id
    h1= id
    h1= question.question_body
    form(action="/question/create", method="post")
      //- input(type='hidden', name='#{question.id}')
      label(for='option-two' value="option1")= question.answer_a
        input#option-two(type='radio')
      br
      label(for='option-two' value="option2")= question.answer_b
        input#option-three(type='radio')
      br
      label(for='option-two' value="option3")= question.answer_c
        input#option-four(type='radio')
      br
      label(for='option-two' value="option4")= question.answer_d
        input#option-four(type='radio')
      br
      input(type='submit' value='Submit')